{% extends 'admin/templates/layout.html' %}
{% block title %}  admin {% endblock %}
{% block content %} 
    <div class="p-2 p-sm-4 mt-4">
        <header>
            <p class="fs-4 text-center p-3">คำอวยพร</p>
        </header>
        <main class="mt-5 border p-3 table-responsive">
            <table id="myTable" class="display table table-striped ">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Fullname</th>
                        <th>Wish</th>
                        <th>Department & ตำแหน่ง</th>
                        <th>Company</th>
                        <th>Time</th>
                        <th>Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for data in datas %}
                            <tr>
                                <td>{{ data.id }}</td>
                                <td>{{ data.fullname }}</td>
                                <td>{{ data.wish }}</td>
                                <td>{{ data.department }}</td>
                                <td>{{ data.company }}</td>
                                <td>{{ data.time }}</td>
                                <td>
                                    <button class="btn btn-danger"  onclick="Delete('{{data.id}}')">del</button>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
            </table>
        </main>
    </div>
    <script src="{{ url_for('static', filename='admin/admin.js') }}"></script>
{% endblock %}