<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='index/index.css')}}">
    <title> wish </title>
</head>
<body>
    <div class="container mt-5">
        <div class="title text-center">
            <p class="fs-5 p-3">เขียนอวยพรให้กลับองค์การสุรา เนื่องในโอกาศ วันครบรอบ 60 ปีองค์การสุรากรมสรรพสามิต</p>
        </div>
        <div class="btn-add text-center mb-5">
            <button class="btn btn-success" onclick="AddClick()">เขียนอวยพร</button>
        </div>
        <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3 d-flex justify-content-center align-items-center">
            {% for item in data %}
                <div class="col-lg-3 col-12">
                    <div class="card">
                        <div class="card-body">
                            <p> {{item.id}} </p>
                            <p> {{item.fullname}} </p>
                            <p> {{item.wish}} </p>
                            <p> {{item.department}} </p>
                            <p> {{item.company}} </p>
                            <p> {{item.time}} </p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
    <script>
        const AddClick = () => {
            window.location.href = '/wish/form/ldo'
        }
    </script>
</body>
</html>